<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.msmasters.housewife">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_logo_hw"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo_hw"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Splash"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MainActivity" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Sobre"
            android:label="@string/app_visao"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.Sobre" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Ajuda"
            android:label="@string/action_ajuda"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.Ajuda" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MenuAddSemana"
            android:label="@string/menu_add_semana"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MenuAddSemana" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MenuAddReceita"
            android:label="@string/menu_add_receit"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MenuAddReceita" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MenuAddCompra"
            android:label="@string/menu_add_compra"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MenuAddCompra" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>